/**app.wxss**/
page {
  background-color: #f7f4ee;
  color: #211b18;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Helvetica Neue', sans-serif;
}

.page {
  height: 100vh;
  background-color: #fff;
}
