@import '/variable.less';

:host {
  --td-tab-bar-active-color: #ff8a34;
  --td-tab-bar-bg-color: rgba(255, 255, 255, .96);
}

.custom-tab-bar {
  --td-tab-bar-height: @tab-bar-height;

  &-item {
    margin: 0;
    padding: 16rpx 24rpx;
  }
}
